<style>
html, body{height:100%;}
body
{
	margin:0px;
}

@keyframes animate-bottom
{
	0%	{top:500px;}
	100%{top:0px;}
}

@keyframes fade-in
{
	0%	{opacity:0;}
	100%{opacity:1;}
}

p.date{ color:#595959; font-size:125%;}
p.cv{ margin:0px; font-size:150%; }

#footer
{
	background-color:#383838;
	color:white;
	text-align:center;
	padding:10px 0px;
	bottom:0px;
	font-family: CaviarDreams, courier, sans-serif;
}

#main_container
{
	top:0px;
	margin-top:50px;
}

#main_banner_container
{
	position:relative; 
	z-index:-1;
	color:white;
	height:630px; /* Height from nav bar to bottom of window */
	text-align:center;
	background-size:100% 100%;
	background-color:#EDEDED;	/* SECONDARY COLOUR */
	padding:150px;
}

div.page_content
{
	height:100%;
	padding:50px 346px;
	text-align:center;
}
div.project_block
{
	width:400px;
	height:420px;
	margin:2px 0px;
	color:white;
	display:inline-block;
}
img.project_thumbnail
{
	width:400px;
	height:250px;
}

h2
{
	font-family: CaviarDreams, courier, sans-serif;
	color:#333333;
	text-decoration:underline;
	font-size:250%;
}
h3
{
	font-family: CaviarDreams, courier, sans-serif;
	color:#333333;
	text-decoration:none;
	font-size:250%;
}

@font-face
{
	font-family: Ubuntu;
	src: url(fonts/ubuntu/Ubuntu-Regular.ttf);
}
#heading
{
	position:relative;
	font-family: Ubuntu, Century Gothic, sans-serif;
	font-size:500%;
	padding:0px;
	padding-top:200px;
	margin:10px;
	color:black;
	animation-name: fade-in;
	animation-duration: 1.5s;
}

#sub_heading
{
	position:relative;
	padding:0px;
	margin:0px;
	font-family: CaviarDreams, courier, sans-serif;
	font-size:200%;
	color:red;
	animation-name: fade-in;
	animation-duration: 1.5s;
}

/* DEFINE SECTION BACKGROUND COLOURS */
#about_me{ background-color:white; }
#CV{ background-color:#EDEDED; }
#projects{ background-color:white; }
#contact_me{ background-color:#EDEDED; }


#navigation_bar_container
{
	position:fixed;
	top:0;
	width:100%;
	overflow:hidden;
	background-color:#3B3B3B;	/* PRIMARY COLOUR */
	color:white;
	height:50px;
	text-align:center;
}
#navigation_bar
{
	overflow:hidden;
	height:100%;
}
#networks_container
{
	display:inline-block;
	width:200px;
	height:50px;
}

@font-face
{
	font-family: CaviarDreams;
	src: url(fonts/caviar_dreams/CaviarDreams.ttf);
}

a{ text-decoration:none; }
a.nav_element
{
	display:inline-block;
	font-family: CaviarDreams, courier, sans-serif;
	font-size:150%;
	height:100%;
	color:white;
	
	padding:14px 16px;
}
a.nav_element:hover{ background-color:#333333; }	

</style>