<style>
html, body{height:100%;}
body
{
	position:relative;
	margin:0px;
}

@keyframes animate-bottom
{
	0%	{top:500px;}
	100%{top:0px;}
}

@keyframes fade-in
{
	0%	{opacity:0;}
	100%{opacity:1;}
}

@font-face
{
	font-family: CaviarDreams;
	src: url(fonts/caviar_dreams/CaviarDreams.ttf);
}

@font-face
{
	font-family: CaviarDreamsBold;
	src: url(fonts/caviar_dreams/CaviarDreams_Bold.ttf);
}

@font-face
{
	font-family: Ubuntu;
	src: url(fonts/ubuntu/Ubuntu-Regular.ttf);
}

p.date{ color:#333333; font-size:16px;}
p.cv{ margin:0px; font-size:20px; }

#footer
{
	text-align:center;
	padding:10px 0px;
	bottom:0px;
	font-family: CaviarDreams, courier, sans-serif;
}

#main_banner
{
	background-color:#CD4F39;
	z-index:-1;
	padding: 100px 25px;
	margin-bottom:0px;
}

#main_container
{
	top:0px;
}

div.page_content
{
	height:100%;
	padding:50px 0px;
	text-align:center;
}
div.project_block
{
	margin:2px 0px;
	color:#fff;
	border: 0px none rgba(0,0,0,0);
}
img.project_thumbnail
{
	width:400px;
	height:250px;
}

h2.font
{
	font-family: CaviarDreams, courier, sans-serif;
	color:#333333;
	text-decoration:underline;
	font-size:36px;
	font-weight:bold;
}
h3.font
{
	font-family: CaviarDreams, courier, sans-serif;
	color:#333333;
	text-decoration:none;
	font-size:36px;
	font-weight:bold;
}

#headshot
{
	border-radius:3%;
}

#heading
{
	font-family: Ubuntu, Century Gothic, sans-serif;
	padding:0px;
	color:#333333;
	animation-name: fade-in;
	animation-duration: 1.5s;
}

#sub_heading
{
	padding:0px;
	margin:0px;
	font-family: CaviarDreams, courier, sans-serif;
	color:#333333;
	animation-name: fade-in;
	animation-duration: 1.5s;
}

#nav-header
{
	color:white;
	font-family: CaviarDreamsBold, courier, sans-serif;
}
#nav-header:hover
{
	color:#CD4F39;
}

/* DEFINE SECTION BACKGROUND COLOURS */
#about_me{ background-color:#EDEDED; }
.projects{ background-color:#CD4F39; }
#contact_me{ background-color:#EDEDED; }

div.navbar-footer
{
	color:#fff;
	background-color:#8B3626;
}

.navbar-custom
{
	border-bottom: 0px none rgba(0,0,0,0);
}

.navbar-custom  .navbar-inner
{
	min-height:50px;
	filter: none !important;
	width:100%;
	margin:0px;
}

.navbar-custom .navbar-inner ul.nav > li > a
{
	background:none;
	color:#fff;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-custom .navbar-inner ul.nav > li > a:hover
{
	background-color:#5E2612;
}

.navbar-custom .navbar-inner ul.nav > .active > a
{
	background-color:#5E2612;
}

#networks_container
{
	display:inline-block;
	width:200px;
	height:50px;
}

a{ text-decoration:none; }
a.nav_element
{
	display:inline-block;
	font-family: CaviarDreams, courier, sans-serif;
	height:100%;
	color:#fff;
	
	padding:14px 16px;
}
a.nav_element:hover{ background-color:#333333; }	

</style>