<!-- NAVIGATION BAR -->
<nav id="navbar" class="navbar-inverse navbar-fixed-top">
	<div class="container-fluid navbar-container nav-footer">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#link-container"
			id="navbar-button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="nav-header" href="index.html" title="Homepage">CHRIS MURRAY</a>
		</div>
		<div class="collapse navbar-collapse" id="link-container">
			<ul id="nav-link-list">
				<li>
					<a class="nav-link" href="CV/chris_murray_cv.pdf" title="View CV">
					View CV
					</a>
				</li>
				<li>
					<div class="dropdown-container">
						<script>
							function showDropdown()
							{
								document.getElementById("projects-dropdown").classList.toggle("show");
							}
							
							// If the user clicks anywhere that is not the button
							window.onclick = function(e)
							{
								if(!e.target.matches("#projects-button"))
								{
									// Hide the dropdown
									var dropdownList = document.getElementById("projects-dropdown");
									if(dropdownList.classList.contains("show"))
									{
										dropdownList.classList.remove("show");
									}
								}
							}
						</script>
						<button type="button" onclick="showDropdown()" id="projects-button" class="nav-link" title="Projects">
							Projects <span class="caret"></span>
						</button>
						<ul id="projects-dropdown">
							<li>
								<a class="nav-link dropdown-link" href="Projects/VillageDefender/villagedefender.html" title="Village Defender">
								Village Defender
								</a>
							</li>
							<li>
								<a class="nav-link dropdown-link" href="Projects/final_project.html" title="Final Year Project">
								Final Year Project
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a class="nav-link" href="#contact_me" title="Contact Me">
					Contact
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- END OF NAVIGATION BAR -->